<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">Register</div>
      <div class="card-body">
        <form class="form" [formGroup]="RegisterForm">
          <div class="form-group mb-4">
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              class="form-control rounded-0"
              formControlName="email"
              required
            />
          </div>
          <div class="form-group mb-4">
            <label for="password">Password</label>
            <input
              type="password"
              id="password"
              formControlName="password"
              class="form-control rounded-0"
              required
            />
          </div>
          <button
            (click)="Register()"
            type="button"
            class="btn btn-primary float-right"
          >
            Register
          </button>
        </form>
        <div *ngIf="ErrorMessage" class="btn btn-outline-red text-danger">
          {{ ErrorMessage }}
        </div>
      </div>
    </div>
  </div>
</div>
